[Unit]
Description=Masakari Engine Daemon

[Service]
Type=simple
User=masakari
ExecStart=/usr/bin/masakari-engine

[Install]
WantedBy=multi-user.target
